:root {
  --brand-background: #1e1f26;
  --brand-primary: #ddd;
  --brand-secondary: #888;

  --brand-on-secondary-primary: #ddd;
  --brand-on-secondary-secondary: #888;

  --brand-background-secondary: #141419;

  --brand-accent: #a3a6cc;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--brand-background);
  font-family: 'Inter', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--brand-primary);
  margin-bottom: 8px;
}

p {
  color: var(--brand-secondary);
  line-height: 1.4em;
}

a {
  color: var(--brand-accent);
}

@media (prefers-reduced-motion) {
    * {
        animation: none;
        transition: none;
    }
}

ul {
  color: var(--brand-secondary);
}
